    @import 'normalize.scss';
 
    // === Mixins ===
    @mixin font-lato {
      font-family: 'Lato', sans-serif;
    }
    @mixin  font-montserrat {
      font-family: 'Montserrat', sans-serif;
    }
    // === / Mixins === //

    //=== Variables==//
    $color-white:#ffffff;
    //=== Variables==//

    $color-main: grey;
    $color-secondary: none;
    h1 {
      color: $color-secondary;
    }


    //=== Common ===//
   body  {
     @include font-lato;
     background-color: $color-main;
   }

   .section-outer {}
   .section-inner {
      width: 1180px;
      margin: 0 auto;
   }
   //=== Common ===//

   
   .section-header  {
     color: #ffffff;
     background-image: url("../images/marketika.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;

     
     .section-inner {
       height: 100vh;
       position: relative;
       z-index: 10; 
       display: flex; 
       flex-direction: column; 
     }
    
     &::before {
       content: '';
       position: absolute;
       z-index: 5; 
       
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: rgba(20, 39, 41, .6);
     }
   
      &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1; 
        padding-top: 35px;
      }

      &-content {
        flex-grow: 1; 
        display: flex; 
        align-items: center; 
      }
      &-wrapper {
        &__title,
        &__subtitle {
          text-align: center;    
        }

        &__title {
          font-weight: bold;
          font-size: 56px;
          line-height: 60px;
        }

        &__subtitle {
          @include  font-montserrat;

          font-size: 18px;
          line-height: 32px;
        }

        &__form {
          display: flex; 

          &-input {
            input {
              @include  font-montserrat;

              border:none; 
              background: rgba(255, 255, 255, .25); 
              color: $color-white;
              font-size: 16px;
              line-height: 19px;
              border-radius: 4px;
              margin: 0;  
              padding: 17px 20px;   
              outline: none; 

              &::placeholder {
              color: $color-white; 
              }
            }
          }

          &-button {
            button {
              @include  font-montserrat;

              font-size: 16px;
              margin: 0;  
              padding: 17px 20px; 
              border:none; 
              background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
              border-radius: 4px;
              outline: none; 
              color: $color-white; 
            }
          }
        }
      }
   }

   .section-promo {

   }

   .section-founder {

   }

   .section-plans {

   }

   .section-free {

   }

   .section-footer {

   }
